[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
livereload = "*"
rstcheck = "*"

[packages]
sphinx = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"
