[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
livereload = "*"
rstcheck = "*"

[packages]
sphinx = "*"
sphinx-jsondomain = "*"
sphinx-notfound-page = "*"
sphinx_rtd_theme = "*"
sphinxcontrib-httpdomain = "*"
sphinxcontrib-httpexample = "*"
